<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Quiz</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap&subset=devanagari,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7c71b1563d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <div class="alert alert-dismissible text-center cookiealert bg-dark" role="alert">
      <div class="cookiealert-container">
           Ich mag Cookies. und du?<a href="#" target="_blank">Mehr</a>

          <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
              Akzeptieren
          </button>
      </div>
    </div>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger float">
        {{ message }}
      </div>
    {% endfor %}
    {% endif %}
    <header>
      <div class="bg-dark">
        <div class="container">
          <nav class="navbar navbar-dark bg-dark box-shadow">
            <a class="navbar-brand d-flex align-items-center text-white" href="{{ url_for('index') }}">Title</a>
            {% if id_ %}
            <a href="{{ url_for('quiz', id_=id_) }}"><button type="button" name="myquiz" class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('quiz', id_=id_) }}">Mein Quiz</button></a>
            {% else %}
            <a href="{{ url_for('newquiz') }}"><button type="button" name="quizcreate" class="btn btn-outline-primary my-2 my-sm-0">Quiz erstellen</button></a>
            {% endif %}
          </nav>
        </div>
      </div>
    </header>
    {% endwith %}
    {% block content %}{% endblock %}
    <footer class="blog-footer text-light bg-dark py-5">
      <div class="container">
        <p class="float-right text-light">
          <a href="#"><i class="fas fa-chevron-up"></i></a>
        </p>
        <p>&copy; 2019 - Ben Hurensöhn - Alle Rechte vorbehalten</p>
        <a href="whatsapp://send?text=Text durch native Deeplink!">
          <button type="button" class="btn btn-success"><i class="fab fa-whatsapp"></i></button>
        </a>
        <a href="whatsapp://send?text=Text durch native Deeplink!">
          <button type="button" class="btn btn-primary"><i class="fab fa-twitter"></i></button>
        </a>
        <a href="whatsapp://send?text=Text durch native Deeplink!">
          <button type="button" class="btn btn-info"><i class="far fa-clipboard"></i></button>
        </a>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
