<!DOCTYPE html>
<html style="font-family: Arial">
    <header>
        Bundesregierung kündigt neuen LOCKDOWN an!
    </header>
    <body>
        <h1>Bundesregierung kündigt neuen LOCKDOWN an!</h1> <hr>
        <img src="https://media.istockphoto.com/photos/virus-picture-id472083002">
        <p>Wie die Bundesregierung am 6.10.2020 um 17:13 bekannt gegeben hat, werden Deutschlandweit die Schulen geschlossen. Die neuen Corona-Regelungen wurden aufgrund der exponentiell steigenden Fallzahlen angekündigt.</p>
        <p>Schulen und Kitas werden nach den Herbstferien zunächst nicht wieder geöffnet. Um die Ausbreitung des neuartigen Coronavirus, für den noch immer kein <b>Impfstoff</b> gefunden wurde, zu verlangsamen, sollen die Bildungseinrichtungen geschlossen werden</p>
        <p>Jedoch sollen es Notallangebote für die SchülerInnen und KitakinderInnen geben. Diese werden von den Schulen selbst organisiert, teilte der deutsche Kaiser, A. Hildman, heute mit. Der Unterrcht soll zunächst nur Online, später dann in reduzierter Personenzahl stattfinden.</p>
        <p>Wichtig ist es, die Ruhe zu behalten: Auch wenn mancher SchülerIn aufgrund dieser Maßnahmen am liebsten eine Party machen würde, besteht nur eingeschränkte Kontakterlaubnis. Es dürfen sich höchstens 3 Personen auf einmal treffen.</p>
    </body>
</html>