{% extends "base.html" %}

{% block content %}
<main role="main">
  <section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><strong>Dein</strong> Quiz</h1>
    <p class="lead text-muted">Erstelle jetzt mit nur wenigen Clicks dein eigenes Quiz.</p>
    <p>
      {% if id_ %}
      <a href="{{ url_for('quiz', id_=id_) }}"><button type="button" name="myquiz" class="btn btn-success my-2 my-sm-0" href="{{ url_for('quiz', id_=id_) }}">Mein Quiz</button></a>
      {% else %}
      <a href="{{ url_for('newquiz') }}"><button type="button" name="quizcreate" class="btn btn-primary my-2 my-sm-0">Quiz erstellen</button></a>
      {% endif %}
    </p>
  </div>
</section>
  <div class="py-5 bg-light">
    <div class="container">
      <a href=" {{ url_for('newquiz') }}"><button type="button" name="quizcreate" class="btn btn-primary">Quiz erstellen</button></a>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo   dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
    </div>
  </div>
</main>
{% endblock %}
