{% extends "base.html" %}

{% block content %}
<div class="content">
    <form action="" method="post">
        {{form.hidden_tag()}}
        {{form.name.label}}<br>
        {{form.name()}}<br>
        {% for error in form.name.errors %}
            <span style="color: red;">[{{error}}]<br></span>
        {% endfor %}
        {% for field in fields%}
            {{field.label}}<br>
            {{field}}<br>
            {% for error in field.errors %}
                <span style="color: red;">[{{error}}]<br></span>
            {% endfor %}
            {% endfor %}
        {{form.submit()}}
    </form>
</div>
{% endblock %}
