{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="container py-5">
    <div class="card">
      <div class="container py-5">
      <table class="table table-bordered">
          {% for name, score in answers %}
          <p>{{name}} hat {{score}} erreicht</p><div class="progress" style="width: 20em;"><div class="progress-bar bg-success" role="progressbar" style="width: {{100*(score/max_score)}}%;" aria-valuenow="{{score}}" aria-valuemin="0" aria-valuemax="{{max_score}}">{{score}}/{{max_score}}</div></div>
          {% endfor %}
      </table>
      <table class="table table-bordered">
          <tr>
              <th>Richtige Lösungen:</th><th></th><th>Deine Antwort</th>
          </tr>
              {% for question, answer, user_answer in correct_answers %}
              <tr>
                  <td scope="row">{{question}}</td>
                  <td>{{answer}}</td>
                  {% if user_answer %}<td>{{user_answer}}</td>{% endif %}
              </tr>
              {% endfor %}
          </table>
          </div>
    </div>
  </div>
</div>
{% endblock %}
