{% extends "base.html" %}
{% block content %}
<div class="content">
<div class="py-5 bg-light">
  <div class="container">
    <div class="card text-center">
      <div id="quiz">
        <div class="card-body">
          <h1><p id="name-label">Dein Name</p></h1>
          <input id="name" type="text" class="form-control">
          <input id="send-name" type="button" class="btn btn-success" value="Weiter">
          <b><h1><p id="question"></p></h1></b>
          <div id="answers"></div>
          <form action="" method="POST">
              {{form.hidden_tag()}}
              {{form.name()}}
              {{form.answers()}}
              {{form.submit()}}
          </form>
        </div>
      <script src="{{ url_for('static', filename='js/quiz.js')}}"></script>
      <script>run({{questions|tojson|safe}}, {{answers|tojson|safe}})</script>
      </div>
      </div>
    </div>
{% endblock %}
