{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="container py-5">
    <div class="card">
      <div class="container py-5">
      <table class="table table-bordered">
          {% for guess in guesses %}
          <p>{{guess.name}} hat {{guess.score()}} erreicht</p><div class="progress" style="width: 20em;"><div class="progress-bar bg-success" role="progressbar" style="width: {{100*(guess.score()/max_score)}}%;" aria-valuenow="{{guess.score()}}" aria-valuemin="0" aria-valuemax="{{max_score}}">{{guess.score()}}/{{max_score}}</div></div>
          {% endfor %}
      </table>
      <table class="table table-bordered">
          <tr>
              <th>Richtige Lösungen:</th><th></th>{% if user_answer %}<th>Deine Antwort</th>{% endif %}
          </tr>
              {% for question, answer, user_answer in correct_answers %}
              <tr>
                  <td scope="row">{{question}}</td>
                  <td>{{answer}}</td>
                  {% if user_answer %}<td>{{user_answer}}</td>{% endif %}
              </tr>
              {% endfor %}
          </table>
          </div>
    </div>
    <div class="container">
      <p>Dieses Quiz teilen </p>
      <input class="url form-control" data-toggle="tooltip" readonly type="text" value="{{'https://myquiz.eu'+url_for('quiz', id_=id_)}}" id="myInput"></input>
      <a href="whatsapp://send?text=Wie+gut+kennst+du+****NAME****?+Beantworte+einfach+ein+paar+Fragen+auf+******LINK*******" target="_blank">
        <button type="button" class="btn btn-success btn-lg"><i class="fab fa-whatsapp"></i></button>
      </a>
      <a href="https://twitter.com/intent/tweet?text=Wie+gut+kennst+du+****NAME****?+Beantworte+einfach+ein+paar+Fragen+auf+******LINK*******&hashtags=sharemyquiz&original_referer=" target="_blank">
        <button type="button" class="btn btn-primary btn-lg"><i class="fab fa-twitter"></i></button>
      </a>
      <a>
        <button type="button" class="btn btn-info btn-lg" id="clipboard"><i class="far fa-clipboard"></i></button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
