{% extends "base.html" %}
{% block content %}
<div class="content">
        <div id="quiz">
            <p id="name-label">Dein Name</p>
            <input id="name" type="text">
            <input id="send-name" type="button" value="Weiter">
            <p id="question"></p>
            <div id="answers"></div>
            <form action="" method="POST">
                {{form.hidden_tag()}}
                {{form.name()}}
                {{form.answers()}}
                {{form.submit()}}
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
    </div>
{% endblock %}
