{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="container py-5">
    <div class="card">
      <div class="container py-5">
      <table class="table table-bordered">
          {% for name, score in answers %}
          <p>{{name}} hat {{score}} erreicht</p><div class="progress" style="width: 20em;"><div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="{{score}}" aria-valuemin="0" aria-valuemax="5">{{score}}/5</div></div>
          {% endfor %}
      </table>
      <p>Richtige Lösungen: </p>
      <table class="table table-bordered">
              {% for question, answer in correct_answers %}
              <tr>
                  <td scope="row">{{question}}</td>
                  <td>{{answer}}</td>
              </tr>
              {% endfor %}
          </table>
          </div>
    </div>
  </div>
</div>
{% endblock %}
